Repository Banana-Javascript/Banana.js, changes with the labels that .github/labeler.yml gives for each.
All labels: modules, backend, documentation, .github

.github/labeler.yml:

modules:
  - any: ["modules/**/*"]

backend:
    - any: ["backend/**/*"]

documentation:
  - any: ["**/*.md"]

.github:
  - any: [".github/**/*"]

Create labeler.yml
  .github/workflows/labeler.yml
Labels: .github

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Fixed readme.md
  README.md
Labels: documentation

Delete CNAME
  CNAME
Labels: none

mop
  README.md
  index.js
  modules/answerHandler.js
  modules/awc.js
  modules/banana.js
  modules/client.js
  modules/getdata.js
  modules/goldHandler.js
  modules/log.js
  modules/socket.js
  package.json
Labels: modules, documentation

Update settings.yml
  .github/settings.yml
Labels: .github
